<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blueberry</title>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todo_list_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/file_upload.css') }}">
    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
    <script defer src="{{ url_for('static', filename='todo_list.js') }}"></script>
</head>

<body>
    <style>
        /* style scrollbar */
        ::-webkit-scrollbar {
            width: 2px;
            height: 8px;
            background-color: transparent;
            /* or add it to the track */
        }

        ::-webkit-scrollbar:hover {
            width: 4px;
            height: 8px;
            background-color: transparent;
            /* or add it to the track */
        }

        /* Add a thumb */
        ::-webkit-scrollbar-thumb {
            background: #bb9af75b;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #bb9af7;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
    </style>

    <div class="master-container">
        <div class="datetime">
            <h4 id="day">Monday</h4>
            <div class="digital-clock">
                <p id="time"></p>
                <svg class="alarm-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
                    width="24">
                    <path
                        d="M480-80q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-440q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-800q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-440q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-80Zm0-360Zm112 168 56-56-128-128v-184h-80v216l152 152ZM224-866l56 56-170 170-56-56 170-170Zm512 0 170 170-56 56-170-170 56-56ZM480-160q117 0 198.5-81.5T760-440q0-117-81.5-198.5T480-720q-117 0-198.5 81.5T200-440q0 117 81.5 198.5T480-160Z" />
                </svg>
            </div>

            <button class="dismiss-alarm invisible">stop</button>

            <p id="greetings">Greetings!</p>
        </div>
        <script>
            var day = document.getElementById("day");
            const d = new Date();
            const weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            let getday = weekday[d.getDay()];
            day.innerHTML = getday;
            var time = document.getElementById("time");

            let CURRENT_ALARMS = [];
            const alarm_icon = document.querySelector(".alarm-icon");
            if (CURRENT_ALARMS.length == 0)
                alarm_icon.classList.add("invisible");
            else
                alarm_icon.classList.remove("invisible");


            setInterval(function () {
                time.innerHTML = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });

                // get the data first, fetch only when new alarm is set
                curr_time = (new Date()).toLocaleTimeString();
                if (CURRENT_ALARMS.includes(curr_time)) {
                    // play the alarm
                    console.log("<<<<<<<<<ALARM TIME!!!!>>>>>>>>>")
                    socket.emit('alarm-modify', { "data": curr_time });
                    document.querySelector('.alarm-audio-thing').play();

                    document.querySelector('.dismiss-alarm').classList.toggle("invisible");
                    if (CURRENT_ALARMS.length == 0)
                        alarm_icon.classList.add("invisible");
                    else
                        alarm_icon.classList.remove("invisible");
                }

            }, 1000);

            document.querySelector('.dismiss-alarm').addEventListener("click", (event) => {
                document.querySelector('.alarm-audio-thing').pause();
                document.querySelector('.dismiss-alarm').classList.toggle("invisible");
            });


        </script>

        <audio class="alarm-audio-thing" loop>
            <source src="{{ url_for('static', filename='assets/Leapfrog.mp3') }}" type="audio/ogg">
        </audio>

        <!-- all content goes here -->
        <div class="container">

            <div class="weather-card invisible">
                <div class="left-pane">
                    <!-- <img src="static/assets/anothersiccpattern.svg" class="pattern"> -->
                    <div class="info">

                        <div class="areaName">Area</div>
                        <div class="subArea">
                            <span class="region">region</span>, <span class="country">country</span>
                        </div>
                        <div class="desc">clear</div>
                        <div class="temp">69°C</div>
                        <div class="temp_base">
                            <span>Feels like </span><span class="feelslike">42°C</span>
                        </div>
                    </div>
                </div>

                <div class="right-pane">
                    <div class="section1">
                        <div>
                            <span class="heading">Precipitation </span><span class="precipitation">0 mm</span>
                        </div>
                        <div>
                            <span class="heading">Humidity </span><span class="humidity">0%</span>
                        </div>
                        <div>
                            <span class="heading">Wind </span><span class="wind">0 km/h from 85° E</span>
                        </div>
                        <div>
                            <span class="heading">Visibility </span><span class="visibility">0 km</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="to-do-list-container invisible">
                <div class="todo-app">
                    <div class="todo-app-title">
                        <h2>To-do list</h2>
                        <i class="fa-solid fa-book-bookmark"></i>
                    </div>
                    <div class="todo-row">
                        <input type="text" class="todo-input-box" placeholder="add your tasks">
                        <button class="add-tasks">Add</button>
                    </div>
                    <ul id="list-container">
                    </ul>
                </div>
            </div>

            {% if confirmation_message %}
            <script>

                console.log("BRUAH")
            </script>
            <div class="gererated-text" style="opacity: 20%; padding: 1rem;">creative mode is available</div>

            <style>
                body .footer {
                    z-index: 1;
                    --footer-background: #bb9af7;
                }
            </style>
            {% endif %}

            <div class="woke-container">
                <div class="woke-stuff invisible"></div>
            </div>
            <style>
                .woke-container {
                    display: grid;
                    place-items: center;
                    width: 100%;
                }
                .woke-stuff {
                    width: 60%;
                    opacity: 75%;
                    /* line-height: .5rem; */
                    padding: 1.5rem;
                    text-align: justify;
                }
            </style>

            <div class="file-container invisible">
                {% if message %}
                <p>{{ message }}</p>
                {% endif %}
                <form action="#" method="post" enctype="multipart/form-data" class="upload-form">
                    <label for="fileInput" class="custom-file-upload">
                        Choose a file
                    </label>
                    <input type="file" id="fileInput" name="file" accept=".txt" class="hidden-input">
                    <button type="submit" class="upload-button">Upload</button>
                </form>
            </div>

        </div>

        <div class="input-field">say 'Blueberry'!</div>
    </div>



    <!-- footer styles here -->
    <!-- all thanks to this awesome pen right here: https://codepen.io/z-/pen/zYxdRQy?editors=1010 -->
    <div class="footer">

        <div class="bubbles"></div>
        <script>
            const bubbles = document.querySelector(".bubbles");

            for (let i = 0; i < 128; i++) {
                let bubble = document.createElement("div");
                bubble.className = "bubble";
                bubble.style = `--size:${2 + Math.random() * 4}rem; --distance:${6 + Math.random() * 4}rem; --position:${-5 + Math.random() * 110}%; --time:${2 + Math.random() * 2}s; --delay:${-1 * (2 + Math.random() * 2)}s;`;
                bubbles.appendChild(bubble);
            }
        </script>

        <div class="dacover">
            <div class="left">
                <p class="stats">Stats for nerds.</p>
                <p><span class="bold">Version: </span>0.0.1 beta</p>
                <p><span class="bold">Tech Stack: </span>Vanilla(HTML/CSS/JS).concat(`SocketIO`) && Flask</p>
                <p><span class="bold">Repo: </span>https://github.com/aisoc-internal-hackathon/aisoc_T9.git</p>
            </div>
            <div class="right">AI Alchemists</div>
        </div>

    </div>
    <svg style="position:fixed; top:100vh">
        <defs>
            <filter id="blob">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                    result="blob"></feColorMatrix>
            </filter>
        </defs>
    </svg>

</body>

</html>